input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
input[type="number"],
select,
textarea
{
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0.5em;
    padding-left: 1em;
    height: 2.7em;
    color: #0d3f71;
    font-size: 1em;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    width: 100%;
    text-decoration: none;
    display: inline;
    vertical-align: middle;
    caret-color: #fff;
    box-sizing: border-box;
}
@media (max-width: 500px)
{
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="tel"],
    input[type="search"],
    input[type="url"],
    input[type="number"],
    select,
    textarea
    {
        width: 97%;
    }
}

input:focus, textarea:focus
{
    background-color: #b1b1e6;
    outline: none;
    color: white !important;
}
input::placeholder
{
    color: rgb(151, 151, 151);
}
input:focus::placeholder
{
    color: white !important;
}
.form-color
{
    background-color: #0d3f71;
    color: white;
}
.form-color a
{
    color: #7ad3ff;
}
.form-color > div
{
    margin-bottom: 1em;
}
.form-color label
{
    margin-right: 1em;
}
.form-color input, textarea, select
{
    width: 20em;
}
.form-color
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button
{
    color: white !important;
}

.form1
{
    background-color: #0d3f71;
    padding: 1em 2em 1em 1em;
    -webkit-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);
}

.field-icon
{
    position: absolute;
    top: 5px;
}
.field-icon.ok
{
    color: #4fb3ef;
}
.field-icon.bad
{
    color: red;
}

.fields
{
    position: relative;
    display: flex;
    flex-direction: column;
}
.fields > div:not(:last-of-type)
{
    margin-bottom: 1em;
}
@media(min-width: 601px)
{
    .fields
    {
        width: 500px;
    }
    .field-icon
    {
        right: 10px;
    }
}
@media(max-width: 600px)
{
    .fields
    {
        width: 100%;
    }
    .field-icon
    {
        right: 20px;
    }
}